#!/usr/bin/env bash

# Debian11-Image: /root/.oldroot/nfs/images/Debian-1105-bullseye-amd64-base.tar.gz
# Ubunut22-Image: /root/.oldroot/nfs/images/Ubuntu-2204-jammy-amd64-base.tar.gz


/root/.oldroot/nfs/install/installimage -a -n {{ inventory_hostname }} \
-b grub \
-r no \
-i /root/.oldroot/nfs/images/Debian-1105-bullseye-amd64-base.tar.gz \
-p /boot:ext4:512M,/:ext4:all \
-f yes \
-s en \
-K /root/.ssh/robot_user_keys
